/* ConsultForm.css */

.consultForm-container {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.consultForm-imagen {
  width: 100%;
  max-width: 100%; /* Para evitar que la imagen se estire más allá de su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  border-radius: 10px;
}

.consultForm-titulo {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--blue);
}
