.centered-container {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.consultForm-container {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
  width: 900px;
  height: 520px;
  display: flex;
  box-shadow: var(--shadow);
}

.consultForm-left-section {
  flex: 1; /* Toma la mitad del contenedor */
  border-radius: 10px 0 0 10px; /* Redondea solo la esquina izquierda */
  overflow: hidden; /* Evita que la imagen se desborde */
}

.consultForm-right-section {
  flex: 1; /* Toma la otra mitad del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.consultForm-imagen {
  width: 100%; /* La imagen se ajustará al tamaño del contenedor */
  height: 100%; /* Altura automática */
  border-radius: 10px; /* Redondea las esquinas de la imagen */
  max-height: 100%; /* Evita que la imagen se desborde del contenedor */
}

.consultForm-titulo {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--blue);
}
