/* ConsultForm.css */

.consultForm-container {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white-content);
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.consultForm-imagen {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.consultForm-titulo {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--blue);
}

/* DARK THEME */

.dark-text .consultForm-titulo {
  color: var(--white); /* Color blanco en tema oscuro */
}

.dark-theme .consultForm-container {
  background-color: var(--dark-light-gray);
}
