.main-footer {
  background-color: #f0f0f0;
  padding: 30px;
  font-family: "Titillium Web", sans-serif;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos en la fila */
}

.columna {
  font-size: 14px;
  padding: 0 15px;
}

.columna h4 {
  font-size: 16px;
  font-weight: bold;
}

.universidad-info {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.logos {
  display: flex;
  height: auto;
  width: auto;
}

.logos .logo1 {
  margin-right: 20px;
}

.columna.left-align {
  text-align: left;
}

.columna.right-align {
  text-align: right;
}

.columna:nth-child(4) {
  border-right: 2px solid #ccc; /* Separador gris solo para la columna 4 */
}

.telefono-wrapper {
  display: flex;
  align-items: right;
  gap: 5px;
}

.footer-bottom {
  font-size: 12px;
  margin-top: 20px;
}
