.custom-header {
  width: 100%; /* Ocupa todo el ancho de la ventana */
  /* position: fixed; */
  display: flex;
  justify-content: space-between; /* Coloca los elementos a cada extremo */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px 10px 20px; /* Puedes ajustar esto según sea necesario */
  background-color: var(--white);
  box-shadow: var(--shadow); /* Añade la sombra solo abajo */
}

.logoU {
  width: 150px; /* Puedes ajustar el tamaño del logo según sea necesario */
  height: auto;
}
