.custom-header {
  position: fixed; /* Fija el encabezado en su posición */
  top: 0; /* Lo posiciona en la parte superior de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */

  display: flex;
  justify-content: space-between; /* Coloca los elementos a cada extremo */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px; /* Relleno */
  background-color: var(--white); /* color fondo */
  box-shadow: var(--shadow); /* Añade la sombra solo abajo */
  z-index: 2000; /* posición en la pila de capas */
}

.logoU {
  width: 150px; /* Puedes ajustar el tamaño del logo según sea necesario */
  height: auto;
}
