.sidebar-custom {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 80px;
  transition: width 0.7s;
  background-color: var(--white);
}

.option-container {
  font-family: "Open Sans", sans-serif;
  color: var(--dark);
  text-decoration: none;
  width: 100%;
  height: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-option {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%;
}

.sidebar-option:hover {
  background-color: var(--gray);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--dark);
}

.custom-icon {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.custom-label {
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-sidebar {
  background-color: var(--dark-light-gray);
}

.dark-sidebar .option-container {
  color: var(--white-interact);
}

.dark-sidebar .sidebar-option:hover {
  background-color: var(--light-blue);
  color: var(--white-interact);
}
