.card-container-ext.hovered .card-container-int {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card-container-ext {
  width: 100%;
  height: auto;
  min-width: 205px;
  max-width: 330px;
}

.card-container-int {
  box-shadow: var(--shadow);
  border-radius: 25px;
  border: none;
}

.card-container-imagen {
  background-color: var(--blue);
  /* width: 100%; */
  max-width: 100%; /* Para evitar que la imagen se estire más allá de su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.card-imagen {
  /* padding: 13%;
  min-width: 50%;
  max-width: 51%;
  height: 160px; */

  padding: 40px;
  width: 170px;
  height: 160px;
}

.card-body {
  background-color: var(--white);
}

.card-titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--blue);
  font-size: 120%;
  height: 30px;
}

.dark-card .card-body {
  background-color: var(--dark-gray);
  color: var(--white);
}

.dark-card .card-titulo {
  color: var(--white);
}

.dark-card .card-container-imagen {
  background-color: var(--light-blue);
}
