/* SectionContainer.css */

.section-container {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between; /* Coloca los elementos a cada extremo */
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.section-container h1 {
  margin: 10px;
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
}

@media (max-width: 670px) {
  .section-container h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .section-container h1 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

/* Dark Theme Styles */
.dark-SectionContainer {
  background-color: var(--dark-light-gray);
}

.dark-SectionContainer h1 {
  color: var(--white);
}
