/* SelectDropdown.css */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* SelectDropdown.css */

.dropdown {
  width: 380px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 102, 1);
  cursor: pointer;
}

.selectedValue {
  color: rgba(0, 0, 102, 1);
  font-size: 16px;
}

.arrow {
  color: rgba(0, 0, 102, 1);
  font-size: 16px;
}

.options-container {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(69, 68, 68, 1);
}

.option:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
}
