.simple-button {
  font-family: "Open Sans", sans-serif;
  border-radius: 25px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  height: auto;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Default button styles */
.simple-button.default {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}

.simple-button.default:hover {
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--blue);
}

.simple-button.dark-default {
  background: var(--light-blue);
  color: var(--white);
  border: 2px solid var(--light-blue);
}

.simple-button.dark-default:hover {
  background-color: var(--white-interact);
  color: var(--blue);
  border-color: var(--white-interact);
}

/* Outline button styles */
.simple-button.outline {
  background: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
}

.simple-button.outline:hover {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}

.simple-button.dark-outline {
  background-color: var(--white-interact);
  color: var(--blue);
  border-color: var(--white-interact);
}

.simple-button.dark-outline:hover {
  background-color: var(--light-blue);
  color: var(--white);
  border-color: var(--light-blue);
}
