/* SimpleButton.css */

.btn-button {
  font-family: "Open Sans", sans-serif;
  background: var(--blue);
  border-radius: 25px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--blue);
  width: auto;
  height: auto;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-button:hover {
  background-color: var(--white);
  border-color: var(--blue);
  color: var(--blue);
}
