/* ResponsiveTable.css */

/* Establece un tamaño de fuente personalizado para la tabla y las celdas */
.table {
  font-size: 12px;
}

.table th,
.table td {
  padding: 8px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-table {
  background-color: var(--dark-light-gray);
}

.dark-table .table th,
.dark-table .table td {
  color: var(--white);
}

/* Estilos de paginación */
.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--gray);
}

.pagination .page-item.active .page-link {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--dark);
}

.pagination .page-link:hover {
  background-color: var(--blue);
  color: var(--white);
}

.dark-pager {
  background-color: var(--dark-light-gray);
}

.dark-pager .page-link {
  background-color: var(--dark-light-gray);
  color: var(--white);
  border-color: var(--gray);
}

.dark-pager .page-item.active .page-link {
  background-color: var(--light-blue);
  color: var(--white);
  border-color: var(--white);
}

.dark-pager .page-link:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

/* Estilos del modal para ResponsiveTable */

.modal-responsive-table {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  box-shadow: var(--shadow);
}

.modal-responsive-table .modal-header {
  background-color: var(--white);
  padding-left: 40px;
  padding-right: 40px;
}

.modal-responsive-table .modal-title {
  font-weight: 800;
  font-size: 24px;
  color: var(--blue);
  margin-top: 2%;
  margin-bottom: 2%;
}

.modal-responsive-table .modal-body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--dark);
  padding-left: 40px;
  padding-right: 40px;
}

.modal-responsive-table .modal-body .item-col {
  color: var(--blue);
}

/* Estilos del modal para modo oscuro */
.modal-responsive-table.dark-modal .modal-header {
  color: var(--white);
  background-color: var(--dark-light-gray);
  border-bottom: none;
}

.modal-responsive-table.dark-modal .modal-title {
  color: var(--white-interact);
}

.modal-responsive-table.dark-modal .modal-body {
  background-color: var(--dark-light-gray);
  color: var(--white);
}

.modal-responsive-table.dark-modal .modal-body .item-col {
  color: var(--white-interact);
}
