/* ResponsiveTable.css */

/* Establece un tamaño de fuente personalizado para la tabla y las celdas */
.table {
  font-size: 12px;
}

.table th,
.table td {
  padding: 8px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Estilos de paginación */
.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  background-color: var(--white);
  color: var(--dark);
  border-color: var(--dark);
}

.pagination .page-item.active .page-link {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--dark);
}

.pagination .page-link:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Dark Mode Styles */
.dark-table {
  background-color: var(--dark-light-gray);
}

.dark-table .table th,
.dark-table .table td {
  color: var(--white);
}

.dark-pager {
  background-color: var(--dark-light-gray);
}

.dark-pager .page-link {
  background-color: var(--dark-light-gray);
  color: var(--white);
  border-color: var(--white);
}

.dark-pager .page-item.active .page-link {
  background-color: var(--light-blue);
  color: var(--white);
  border-color: var(--white);
}

.dark-pager .page-link:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

/* Establece anchos fijos para cada columna */
/* .table th:nth-child(1),
.table td:nth-child(1) {
  width: 40px; 
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 50px; 
} */

/* Agrega estilos adicionales según sea necesario */
