/* TextInput.css */

.textInput-label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--blue); /* Color azul para el label */
  margin-bottom: 10px; /* Espacio entre el label y el input */
}

.textInput {
  font-family: "Open Sans", sans-serif; /* Fuente Open Sans */
  color: var(--dark-gray); /* Color gris para el texto */
  border-radius: 25px; /* Bordes redondos */
  padding: 8px 12px; /* Espaciado interno */
  margin-bottom: 15px;
  width: 100%;
  background-color: var(--white);
  border: 2px solid var(--light-gray); /* Borde transparente */
  transition: border 0.3s; /* Agrega una transición para el borde */
}

.textInput:focus {
  outline: none;
  border-color: var(--blue);
}

/* Dark Theme Styles */
.dark-text {
  color: var(--white);
}

.dark-input {
  color: var(--white);
  background-color: var(--input-gray);
  border: 2px solid var(--input-gray); /* Borde transparente */
}

.dark-input:focus {
  outline: none;
  border-color: var(--white);
}

.dark-input::placeholder {
  color: var(--white);
}

.error-message {
  color: red; /* Color rojo para el mensaje de error */
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.dark-error {
  color: red; /* Color para el mensaje de error en tema oscuro */
}
