@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

:root {
  --dark: #000000;
  --light-gray: #ededed;
  --gray: #d9d9d9;
  --dark-gray: #3c3c3b;
  --white: #ffffff;
  --blue: #000066;
  --shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.1);
}

*::selection {
  background: var(--blue);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

body.UserConsult {
  background-color: var(--gray);
}

body.TablaConsulta {
  background-color: var(--gray);
}
