@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

:root {
  --dark: #000000;
  --light-gray: #ededed;
  --gray: #d9d9d9;
  --dark-light-gray: #323234;
  --dark-gray: #1b1b1d;
  --input-gray: #706f6f;
  --white: #ffffff;
  --white-content: #f6f6f6;
  --white-interact: #ecf0ff;
  --blue: #000066;
  --light-blue: #5056ac;
  --shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.1);
}

*::selection {
  background: var(--blue);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

body.Light {
  background-color: var(--gray);
}

/* Estilos para el tema oscuro */
body.Dark {
  background-color: var(--dark-gray);
}

#Dark {
  background-color: var(--dark-light-gray);
  color: var(--white);
}

#Light {
  background-color: var(--white-content);
  color: var(--dark);
}
